extends layout

block content
  h1= title
  #employees
    each employee in employees
        .employee
          div.created_at=employee.created_at
          div.title=employee.title
          div.name=employee.name
        form( method="post", action="/employee/:_id/delete") 
          input(name="_id", type="hidden", value=employee._id.toString()) 
          input(id="delete", value="Delete", type="submit")
        form( method="get", action="/employee/:_id/edit") 
          input(name="_id", type="hidden", value=employee._id.toString()) 
          input(id="edit", value="Edit", type="submit")  
  a(href="/employee/new")!= "Add New Employee"